body {
	font-family: $fontfamily-default;
	font-size: $fontsize-default;
}
#container {
	margin: auto;
}
#banner {
	// insert stuff here
}
#navigation {
	// insert stuff here
}
#main {
	font-family: $fontfamily-content;
	font-size: $fontsize-content;
}
#aside {
	font-family: $fontfamily-content;
	font-size: $fontsize-content;
}
#footer {
	// insert stuff here
}
