// Webfonts

// see http://compass-style.org/reference/compass/css3/font_face/
// @include font-face($name, $font-files, $eot, $weight, $style);

// Headings

h1 {
	font: $fontstyle-headline $fontweight-headline #{$fontsize-headline*2}/#{$lineheight-headline} $fontfamily-headline;
}
h2 {
	font: $fontstyle-headline $fontweight-headline #{$fontsize-headline*1.5}/#{$lineheight-headline} $fontfamily-headline;
}
h3 {
	font: $fontstyle-headline $fontweight-headline #{$fontsize-headline}/#{$lineheight-headline} $fontfamily-headline;
}
h4 {
	font: $fontstyle-content $fontweight-content-bold #{$fontsize-content}/#{$lineheight-content} $fontfamily-content;
}

// Text

p {}
ol {
	li {}
}
ul {
	li {}
}
dl {
	dt {
		font-weight: $fontweight-content-bold;
	}
	dd {}
}
a {
	color: $color-link;

	&:link {}
	&:visited {}
	&:focus, &:hover {
		color: $color-link-hover;
	}
	&:active {}
	&.current-active {} // class for links which point to current page
}
small {}
strong {
	font-weight: $fontweight-content-bold;
}


// Forms

form {
	fieldset {
		legend {}
	}
	.form-item {
		&.required {}
		&.valid {}
		&.invalid {}
	}
	label {
		&.required {}
		&.valid {}
		&.invalid {}
	}
	input, select, textarea {
		&.required, &[required], &:required {}
		&.valid, &:valid {}
		&.invalid, &:invalid {}
	}
	input {
		&[type=text], &[type=password], &[type=search], &[type=date], &[type=email], &[type=number], &[type=url], &[type=time], &[type=tel] {}
		&[type=hidden] {}
		&[type=file] {}
		&[type=submit] {}
		&[type=checkbox], &[type=radio] {}
	}
	textarea {}
	select {
		optgroup {}
	}
	button {}
}

// Tables

table {
	thead {}
	tfoot {}
	tbody {}

	tr {
		th {
			font-weight: $fontweight-content-bold;
		}
		td {}
	}
}

// Images

.figure {
	.figcaption {}
}

// UI Elements

.shadow {}
.rounded-corner {}
.gradient {}
.button {}

// Special classes

.display-block	{
	display:block;
	width:99%;
}
.float-right, [align="right"] {
	float:right;
	margin:0.25em 0 0.75em 1em;
}
.float-left,  [align="left"]  {
	float:left;
	margin:0.25em 1em 0.75em 0;
}
.clear-both {
	clear:both;
}

@if ($switch-develop) {
	div,table {
		outline:1px solid rgba(255,0,0,0.5);
	}
	h1,h2,h3,h4 {
		outline:1px solid rgba(0,255,0,0.5);
	}
	td,th {
		outline:1px solid rgba(0,0,255,0.5);
	}
}