body {
	font: $fontsize-default $fontfamily-default;
}
#container {
	// insert stuff here
}
#banner {
	// insert stuff here
}
#navigation {
	// insert stuff here
}
#main {
	font: $font-content;
}
#aside {
	font: $font-content;
}
#footer {
	// insert stuff here
}
