// Basic styleguide setup
// If you need to define new variables, adhere to this principle:
// CSSPROPERTY(-CSS-SUBPROPERTY)-[default|VARIABLENAME](-SUBVARIABLENAME)
// See http://compass-style.org/help/tutorials/best_practices/

// Base canon

$margin-regular: 8px;
$padding-regular: 8px;

$width-column: 200px;
$width-screen-smartphone: 320px;
$width-screen-tablet: 768px;
$width-screen-tablet-landscape: 1024px;
$width-screen-desktop: 1280px;

// Colors

$color-black: #000;
$color-white: #fff;
$color-red: #abc;
$color-red-bright: lighten($color-red, 10);

// Colors > Assigning

$color-body: $color-white;
$color-text: $color-black;
$color-link: $color-red;
$color-link-hover: $color-red-bright;
$color-background: $color-white;

// Typography

$fontfamily-default: Helvetica, Arial, sans-serif;
$fontfamily-serif: Garamond, serif;
$fontfamily-symbols: Symbolset;

$fontsize-default: 11px;
$fontsize-big: $fontsize-default + 2px;

// Typography > Assigning

$font-default: $fontsize-default $fontfamily-default;
$font-headline: $fontsize-big $fontfamily-serif;

// Image sizes

$image-width-default: 320px;
$image-height-default: 240px;

$image-width-teaser: 480px;
$image-height-teaser: 120px;

$image-width-teaser-stage: 768px;
$image-height-teaser-stage: 256px;

// UI Elements

.shadow {}
.rounded-corner {}
.gradient {}
.button {}

// Forms

form {
  label {}
  input[type=text], input[type=password], input[type=search], input[type=date], input[type=email] {}
  input[type=hidden] {}
  input[type=checkbox], input[type=radio] {}
  textarea {}
  select {
    optgroup {}
  }
  button {}
  fieldset {}
  legend {}
}

// Tables

table {
  thead {}
  tfoot {}
  tbody {}

  tr {
    th {}
    td {}
  }
}
