// Basic styleguide setup
// If you need to define new variables, adhere to this principle:
// CSSPROPERTY(-CSS-SUBPROPERTY)-[default|VARIABLENAME](-SUBVARIABLENAME)
// See http://compass-style.org/help/tutorials/best_practices/

// Switches

$switch-develop:                   false; // show debugging styles
$switch-overlapping:               false; // container does not set width, but every --inner-element on its own

// Base canon

$base-unit:                        8px;

$margin-default:                   $base-unit;
$padding-default:                  $base-unit;

$borderradius-default:             2px;

// Base canon > Assigning

$width-screen-smartphone:          320px;
$width-screen-tablet:              768px;
$width-screen-tablet-landscape:    1024px;
$width-screen-desktop:             1280px;

$width-container-smartphone:       $width-screen-smartphone;
$width-container-tablet:           $width-screen-tablet;
$width-container-tablet-landscape: $width-screen-tablet-landscape;
$width-container-desktop:          $width-screen-desktop;

// Colors

$color-white:                      #ffffff;
$color-black:                      #000000;
$color-grey:                       mix($color-white, $color-black, 50%);
$color-grey-dark:                  mix($color-white, $color-black, 20%);
$color-grey-light:                 mix($color-white, $color-black, 90%);
$color-blue:                       #33b5e5;
$color-blue-dark:                  darken($color-blue, 25%);
$color-blue-light:                 lighten($color-blue, 15%);
$color-purple:                     #AA66CC;
$color-purple-dark:                darken($color-purple, 25%);
$color-purple-light:               lighten($color-purple, 15%);
$color-green:                      #99cc00;
$color-green-dark:                 darken($color-green, 25%);
$color-green-light:                lighten($color-green, 15%);
$color-yellow:                     #FFBB33;
$color-yellow-dark:                darken($color-yellow, 25%);
$color-yellow-light:               lighten($color-yellow, 15%);
$color-red:                        #FF4444;
$color-red-dark:                   darken($color-red, 25%);
$color-red-light:                  lighten($color-red, 15%);

// Colors > Assigning

$backgroundcolor-body:             $color-white;
$color-body:                       $color-black;

$backgroundcolor-container:        $color-white;
$color-container:                  $color-grey-light;

$backgroundcolor-banner:           $color-black;
$color-banner:                     $color-white;

$backgroundcolor-navigation:       $color-white;
$color-navigation:                 $color-black;

$backgroundcolor-main:             $color-white;
$color-main:                       $color-black;

$backgroundcolor-sidebar:          $color-grey;
$color-sidebar:                    $color-black;

$backgroundcolor-footer:           $color-black;
$color-footer:                     $color-white;

$color-link:                       $color-red-dark;
$color-link-hover:                 $color-red-light;

// Typography

$fontweight-normal:                400; // you may also use 'normal' or 'bold' but for webfonts
$fontweight-bold:                  700; // you may also use 'normal' or 'bold' but for webfonts

$fontfamily-default:               Helvetica, Arial, sans-serif;
$fontfamily-serif:                 Garamond, serif;
$fontfamily-monospace:             "Courier New", monospace;
$fontfamily-symbols:               "FontAwesome"; // http://fortawesome.github.io/Font-Awesome/

$fontsize-default:                 12px;
$fontsize-big:                     $fontsize-default + 2px;

$lineheight-default:               1.25em;
$lineheight-big:                   1.25em;

$font-default:                     #{$fontsize-default}/#{$lineheight-default} $fontfamily-default;

// Typography > Assigning

$fontfamily-content:               $fontfamily-default;
$fontsize-content:                 $fontsize-default;
$lineheight-content:               $lineheight-default;

$fontfamily-headline:              $fontfamily-serif;
$fontsize-headline:                $fontsize-big;
$lineheight-headline:              $lineheight-big;

$font-content:                     #{$fontsize-content}/#{$lineheight-content} $fontfamily-content;
$font-headline:                    #{$fontsize-headline}/#{$lineheight-headline} $fontfamily-headline;

// Z-Indexes

$zindex-headline:                  1;

 // Content

$content-list:                     "\00BB  ";
$content-copyright:                "\00A9";
$content-hellip:                   "\2026";
$content-null:                     " "; // for spawning :before & :after