// see https://github.com/fboes/SASS-Toolshed

* {
	margin:0;
	padding:0;
	// see http://css-tricks.com/international-box-sizing-awareness-day/
	&, &:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	// see http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
	// this is actually a :not-first selector
	& + h1, + h2, + h3, + h4, + p, + dl, + ul, + li, + form, + table {
		margin-top:1em;
	}
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display:block;
}
h1 {
	font-size:3em;
}
h2 {
	font-size:2em;
}
h3 {
	font-size:1.5em;
}
h4 {
	font-size:1em;
}
li {
	margin-left:3em;
}
dt {
	font-weight:bold;
}
dl {
	margin-left:1em;
}
a {
	img {
		border:none;
	}
}
img {
	-ms-interpolation-mode: bicubic;
}
img, video, audio {
	max-width:100%;
}
button {
	cursor:pointer;
}
form, input, select, textarea, button {
	font: inherit;
}
optgroup {
	option {
		margin-left:1em;
	}
}
textarea {
	overflow: auto;
}
[hidden] {
	display: none;
}

table {
	font-size: 1em;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	td, th {
		font-size: 1em;
		vertical-align: top;
		text-align: left;
	}
}

[dir="rtl"] {
	li {
		margin-right:3em;
		margin-left:0;
	}
	dl {
		margin-right:1em;
		margin-left:0;
	}
	optgroup {
		option {
			margin-right:1em;
			margin-left:0;
		}
	}
	table {
		td, th {
			text-align: right;
		}
	}
}