// see https://github.com/fboes/SASS-Toolshed

* {
	margin:0;
	padding:0;
}
// see http://css-tricks.com/international-box-sizing-awareness-day/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
section,header,footer,nav,main,article,aside,figure,dialog,video,audio,address,hgroup,menu,canvas,details {
	display:block;
}
h1,h2,h3,h4,p,dl,ul {
	margin-bottom:1em;
}
h1 {
	font-size:3em;
}
h2 {
	font-size:2em;
}
h3 {
	font-size:1.5em;
}
h4 {
	font-size:1em;
}
li {
	margin-left:3em;
}
dt {
	font-weight: bold;
}
dl {
	margin-left:1em;
}
a {
	& img {
		border:none;
	}
}
img {
	-ms-interpolation-mode: bicubic;
}
img, video, audio {
	max-width:100%;
}
button {
	cursor:pointer;
}

form,input,button {
	font-size:1em;
}
input, select, textarea {
	font: inherit;
}
[hidden] {
	display: none;
}

table {
	font-size: 1em;
	border-collapse: collapse;
	border-spacing: 0;
	td, th {
		font-size: 1em;
		vertical-align:top;
		text-align: left;
	}
}