body {
	color: $color-text;
	background-color: $backgroundcolor;
}
#container {
	background-color: $backgroundcolor-container;
}
#banner {
	padding: $padding-default;
}
#navigation {
	padding: $padding-default;
}
#main {
	padding: $padding-default;
}
#sidebar {
	padding: $padding-default;
}
#footer {
	padding: $padding-default;
}
.no-screen {
	display:none;
}