body {
	color: $color-body;
	background-color: $backgroundcolor-body;
	font-weight: $fontweight-content;
}
#container {
	@if ($switch-overlapping) {
		.header--inner, .nav--inner, .main--inner, .aside--inner, .footer--inner, .news--inner {
			margin:0 auto;
			@include screen_smartphone {
				max-width: $width-container-smartphone;
			}
			@include screen_tablet {
				max-width: $width-container-tablet;
			}
			@include screen_tablet_landscape {
				max-width: $width-container-tablet-landscape;
			}
			@include screen_desktop {
				max-width: $width-container-desktop;
			}
		}
	}
	@else {
		@include screen_smartphone {
			max-width: $width-container-smartphone;
		}
		@include screen_tablet {
			max-width: $width-container-tablet;
		}
		@include screen_tablet_landscape {
			max-width: $width-container-tablet-landscape;
		}
		@include screen_desktop {
			max-width: $width-container-desktop;
		}
	}


	color: $color-body;
	background-color: $backgroundcolor-body;
}
#banner {
	color: $color-banner;
	background-color: $backgroundcolor-banner;
	text-align:center;
}
#navigation {
	color: $color-navigation;
	background-color: $backgroundcolor-navigation;
	text-align:center;
}
#main {
	color: $color-main;
	background-color: $backgroundcolor-main;
}
#sidebar {
	color: $color-sidebar;
	background-color: $backgroundcolor-sidebar;
}
#footer {
	color: $color-footer;
	background-color: $backgroundcolor-footer;
}
.no-screen {
	display:none;
}