body {
	font: $font-default;
	color: $color-text;
	background-color: $background-color;
}

// -----------------------------------------------------------------
// Page

#container {
	background-color: $background-color-container;
}
#banner {
	// insert stuff here
}
#navigation {
	// insert stuff here
}
#main {
	// insert stuff here
}
#sidebar {
	// insert stuff here
}
#footer {
	// insert stuff here
}
.no-screen {
	display:none;
}