// Basic styleguide setup
// If you need to define new variables, adhere to this principle:
// CSSPROPERTY(-CSS-SUBPROPERTY)-[default|VARIABLENAME](-SUBVARIABLENAME)

// Colors

$color-red: #abc;
$color-red-bright: lighten($color-red, 10);
$color-black: #000;

// Colors > Assigning

$color-text: $color-black;
$color-link: $color-red;
$color-link-hover: $color-red-bright;

// Typography

$fontfamily-default: Helvetica, Arial, sans-serif;
$fontfamily-serif: Garamond, serif;
$fontfamily-symbols: Symbolset;

$fontsize-default: 11px;
$fontsize-big: $fontsize-default + 2px;

// Typography > Assigning

$font-default: $fontsize-default $fontfamily-default;
$font-headline: $fontsize-big $fontfamily-serif;

// Image sizes

$image-width-default: 320px;
$image-height-default: 240px;

$image-width-teaser: 480px;
$image-height-teaser: 120px;

$image-width-teaser-stage: 768px;
$image-height-teaser-stage: 256px;

// UI Elements

.button {}

// Forms

.form {
  label {}
  input {}
  input[type=hidden] {}
  input[type=checkbox], input[type=radio] {}
  select {}
  button {}
  fieldset {}
  legend {}
}

// Misc

$margin-regular: 8px;
$padding-regular: 8px;

$width-column: 200px;
$width-screen-smartphone: 320px;
$width-screen-tablet: 768px;
$width-screen-tablet-landscape: 1024px;
$width-screen-desktop: 1280px;

.shadow {}
.rounded-corner {}
.gradient {}