* { margin: 0; padding: 0; }
*, *:before, *:after { box-sizing: border-box; }
* + h1, * + h2, * + h3, * + h4, * + p, * + dl, * + ul, * + ol, * + li, * + dt, * + form, * + table, * + section, * + blockquote { margin-top: 1em; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

h1 { font-size: 3em; }

h2 { font-size: 2em; }

h3 { font-size: 1.5em; }

h4 { font-size: 1em; }

blockquote, li { margin-right: 3em; }

dt { font-weight: bold; }

dl { margin-right: 1em; }

a img { border: none; }
a[href^="tel"]:link, a[href^="tel"]:visited, a[href^="tel"]:hover { color: inherit; text-decoration: inherit; }

img { -ms-interpolation-mode: bicubic; }

img, video, audio { max-width: 100%; }

button { cursor: pointer; }

form, input, select, textarea, button { font: inherit; }

optgroup option { margin-right: 1em; }

textarea { overflow: auto; }

[hidden] { display: none; }

table { font-size: 1em; border-collapse: collapse; border-spacing: 0; }
table td, table th { font-size: 1em; vertical-align: top; text-align: right; }

h1 { font: normal 700 28px/1.2 Garamond, serif; }

h2 { font: normal 700 21px/1.2 Garamond, serif; }

h3 { font: normal 700 14px/1.2 Garamond, serif; }

h4 { font: normal 700 12px/1.2 Helvetica, Arial, sans-serif; }

a { color: #c30000; }
a:focus, a:hover { color: #ff9191; }

strong { font-weight: 700; }

dl dt { font-weight: 700; }

table { table-layout: fixed; }
table th { font-weight: 700; }
table th.no-overflow, table td.no-overflow { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
table th.number, table td.number { font-family: "Courier New", monospace; text-align: left; }

html { direction: rtl; font: normal 400 12px/1.2 Helvetica, Arial, sans-serif; }

body { direction: rtl; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

#container { margin: auto; }

#main { font: normal 400 12px/1.2 Helvetica, Arial, sans-serif; }

#aside { font: normal 400 12px/1.2 Helvetica, Arial, sans-serif; }

@media screen { body { direction: rtl; color: #000000; background-color: #ffffff; }
  #container { color: #e5e5e5; background-color: #ffffff; }
  #banner { color: #ffffff; background-color: #000000; text-align: center; }
  #navigation { color: #000000; background-color: #ffffff; text-align: center; }
  #main { color: #000000; background-color: #ffffff; }
  #sidebar { color: #000000; background-color: #7f7f7f; }
  #footer { color: #ffffff; background-color: #000000; }
  .no-screen { display: none; } }
@media screen { #container { max-width: 300px; } }
@media screen and (min-width: 640px) { #container { max-width: 620px; } }
@media screen and (min-width: 960px) { #container { max-width: 940px; } }
@media screen and (min-width: 1280px) { #container { max-width: 1260px; } }

@media screen { .columns { width: 300px; }
  .columns__4-1 { width: 300px; }
  .columns__4-2 { width: 620px; }
  .columns__4-3 { width: 940px; }
  .columns__4-4 { width: 1260px; } }
@media screen and (min-width: 960px) { .columns__3-1 { width: 300px; }
  .columns__3-2 { width: 620px; }
  .columns__3-3 { width: 940px; } }
@media screen and (min-width: 640px) { .columns__2-1 { width: 300px; }
  .columns__2-2 { width: 620px; } }
@media screen { .columns__1-1 { width: 300px; } }

@media screen { .browsehappy { z-index: 2; position: fixed; width: 100%; background-color: #ffffdd; color: #000000; padding: 0.5em; width: 100%; top: 0; right: 0; border-bottom: 1px solid #eeeeee; text-align: center; }
  .browsehappy a { color: blue; } }
@media print { * { color: black !important; background: transparent !important; text-shadow: none !important; -webkit-filter: none !important; filter: none !important; -ms-filter: none !important; }
  @page { margin: 0.5cm; }
  h1, h2, h3, h4 { page-break-after: avoid; }
  h1, h2, h3, h4, p, li, tr, img { page-break-inside: avoid; }
  thead { display: table-header-group; }
  img { max-width: 100% !important; }
  #navigation { display: none; } }

/*# sourceMappingURL=styles.css.map */