// Webfonts

// see http://compass-style.org/reference/compass/css3/font_face/
// @include font-face($name, $font-files, $eot, $weight, $style);

// Headings

h1 {
	font: $fontstyle-headline $fontweight-headline #{$fontsize-headline*2}/#{$lineheight-headline} $fontfamily-headline;
}
h2 {
	font: $fontstyle-headline $fontweight-headline #{$fontsize-headline*1.5}/#{$lineheight-headline} $fontfamily-headline;
}
h3 {
	font: $fontstyle-headline $fontweight-headline #{$fontsize-headline}/#{$lineheight-headline} $fontfamily-headline;
}
h4 {
	font: $fontstyle-content $fontweight-content-bold #{$fontsize-content}/#{$lineheight-content} $fontfamily-content;
}

// Text

a {
	color: $color-link;

	&:link {}
	&:visited {}
	&:focus, &:hover {
		color: $color-link-hover;
	}
	&:active {}
	&.current-active {} // class for links which point to current page
}
strong {
	font-weight: $fontweight-content-bold;
}
p {
	a {}
	strong {}
	em {}
	mark {}
	code {}
	small {}
	del {}
	ins {}
	sub {}
	sup {}
}
blockquote {
	p {}
	cite {}
}

// Lists

ul {
	li {}
}
ol {
	li {}
}
dl {
	dt {
		font-weight: $fontweight-content-bold;
	}
	dd {}
}


// Forms

form {
	fieldset {
		legend {}
	}
	.form-field {
		&.required {
			label {}
			input {}
			textarea {}
		}
		&.valid {
			label {}
			input {}
			textarea {}
		}
		&.invalid {
			label {}
			input {}
			textarea {}
			select {}
		}
	}
	label {}
	small {}
	input, textarea, select {
		&:required {}
		&:valid {}
		&:invalid {}
	}
	input {
		&[type=text], &[type=password], &[type=search], &[type=date], &[type=email], &[type=number], &[type=url], &[type=time], &[type=tel] {}
		&[type=hidden] {}
		&[type=file] {}
		&[type=submit] {}
		&[type=checkbox], &[type=radio] {}
	}
	textarea {}
	select {
		optgroup {}
	}
	button {}
}

// Tables

table {
	table-layout: fixed;
	width:100%;

	thead {}
	tfoot {}
	tbody {}
	tr {
	}
	th {
		font-weight: $fontweight-content-bold;
	}
	td {}
	th, td {
		&.no-break {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&.number {
			font-family: $fontfamily-monospace;
			text-align:right;
		}
	}
}

// Images

.figure {
	.figcaption {}
}

// UI Elements

@if ($switch-develop) {
	div,table {
		outline:1px solid rgba(255,0,0,0.5);
	}
	h1,h2,h3,h4 {
		outline:1px solid rgba(0,255,0,0.5);
	}
	td,th {
		outline:1px solid rgba(0,0,255,0.5);
	}
}
