// Styles for all media types
//
// Styleguide 3.1

body {
	font: $fontstyle-default $fontweight-default #{$fontsize-default}/#{$lineheight-default} $fontfamily-default;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#container {
	margin: auto;
}
#banner {
	// insert stuff here
}
#navigation {
	// insert stuff here
}
#main {
	font:  $fontstyle-content $fontweight-content #{$fontsize-content}/#{$lineheight-content} $fontfamily-content;
}
#aside {
	font:  $fontstyle-content $fontweight-content #{$fontsize-content}/#{$lineheight-content} $fontfamily-content;
}
#footer {
	// insert stuff here
}
