// Toolshed
//
// Styleguide 1.1

// -----------------------------------------------
// BASICS
// -----------------------------------------------

// toolshed-webfont-src
//
// build webfont source
//
// Styleguide 1.1.1.
@mixin toolshed-webfont-src ($base, $id) {
	src: url('#{$base}.eot');
	src: url('#{$base}.eot?#iefix') format('embedded-opentype'),
		url('#{$base}.woff') format('woff'),
		url('#{$base}.svg##{$id}') format('svg'),
		url('#{$base}.ttf') format('truetype');
}

// toolshed-hide-text
//
// hide text from current element
//
// Styleguide 1.1.2
@mixin toolshed-hide-text () {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	color: transparent !important;
}

// toolshed-visuallyhidden
//
// hide entire element
//
// Styleguide 1.1.3
@mixin toolshed-visuallyhidden () {
	position: absolute;
	width: 1px; // Setting this to 0 make it invisible for VoiceOver
	height: 1px; // Setting this to 0 make it invisible for VoiceOver
	padding: 0;
	margin: -1px;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

// toolshed-clearfix
//
// clear floats
//
// Styleguide 1.1.4
@mixin toolshed-clearfix () {
	zoom: 1;
	&:after {
		display: block;
		visibility: hidden;
		height: 0;
		clear: both;
		content: ".";
	}
}

// toolshed-horizontal-list
//
// convert current element to horizontal list
//
// $useFloat : false remove whitespaces between list elements like `</li><li>`
//
// Styleguide 1.1.5
@mixin toolshed-horizontal-list ($useFloat : false) {
	display:block;
	list-style:none;
	@if $useFloat {
		@include toolshed-clearfix();
	}
	@else {
		text-align: center;
	}
	li {
		display:inline-block;
		margin:0;
		padding:0;
		@if $useFloat {
			float:left;
		}
		@else {
			vertical-align: top;
		}
	}
}

// toolshed-table-fixed
//
// Styleguide 1.1.6
@mixin toolshed-table-fixed {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
	td, th {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

// toolshed-vertical-center
//
// Styleguide 1.1.7
@mixin toolshed-vertical-center ($useFlex: true) {
	@if ($useFlex) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@else {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

// -----------------------------------------------
// BACKGROUND IMAGES & SPRITES
// -----------------------------------------------

// toolshed-background-retina
//
// on retina, use image that's scaled by 2
//
// Styleguide 1.1.8
@mixin toolshed-background-retina($imageUrl, $retinaImageUrl, $imageWidth, $imageHeight) {
	background-image: url($imageUrl);
	background-size: $imageWidth $imageHeight;
	@media (min--moz-device-pixel-ratio: 1.3),
	(-o-min-device-pixel-ratio: 2.6/2),
	(-webkit-min-device-pixel-ratio: 1.3),
	(min-device-pixel-ratio: 1.3),
	(min-resolution: 1.3dppx) {
		background-image: url($retinaImageUrl);
	}
}

// toolshed-grid-sprite-complete
//
// This mixin allows you to get a specific icon from a grid-sprite.
// Combine this mixing with @mixin background-retina to a new mixing for your sprite
//
// * $imageUrl       (string)
// * $retinaImageUrl (string)
// * $imageWidth     (unit)    The dimension of the non-retina image
// * $imageHeight    (unit)    The dimension of the non-retina image
// * $xGrid          (unit)    The x-spacing from the center of each icon to the next, e.g. "20px"
// * $yGrid          (unit)    The y-spacing from the center of each icon to the next, e.g. "20px"
// * $iconWidth      (unit)    The width of this icon in px
// * $iconHeight     (unit)    The height of this icon in px
// * $xOffset        (integer) The x-position of the icon on this grid
// * $yOffset        (integer) The y-position of the icon on this grid
// * $mode           (integer) with 0 => all css, 1 => all css without bg-image, 2 => only background-position, 3 => only size
//
// Styleguide 1.1.9
@mixin toolshed-grid-sprite-complete ($imageUrl, $retinaImageUrl, $imageWidth, $imageHeight, $xGrid, $yGrid, $iconWidth, $iconHeight, $xOffset : 0, $yOffset : 0, $mode: 0) {
	@if ($mode == 3) {
		width:ceil($iconWidth);
		height:ceil($iconHeight);
	}
	@else {
		@if ($mode == 0) {
			@include toolshed-background-retina($imageUrl, $retinaImageUrl, $imageWidth, $imageHeight);
		}
		@include toolshed-grid-sprite($xGrid, $yGrid, $xOffset, $yOffset, $iconWidth, $iconHeight, ($mode == 2));
	}
}

// toolshed-grid-sprite
//
// generating sprite stuff without bg-image
//
// Styleguide 1.1.10
@mixin toolshed-grid-sprite ($xGrid, $yGrid, $xOffset : 0, $yOffset : 0, $iconWidth : 20px, $iconHeight : 20px, $compact : false) {
	@if $compact {
	}
	@else {
		@include toolshed-grid-sprite-stuff ($iconWidth, $iconHeight);
	}
	@include toolshed-grid-sprite-position($xGrid, $yGrid, $xOffset, $yOffset, $iconWidth, $iconHeight);
}

// toolshed-grid-sprite-stuff
//
// generating sprite stuff like dimensions etc, but without position
//
// Styleguide 1.1.11
@mixin toolshed-grid-sprite-stuff ($iconWidth : 20px, $iconHeight : 20px) {
	background-repeat:no-repeat;
	display:inline-block;
	width:ceil($iconWidth);
	height:ceil($iconHeight);
	content: " ";
}

// toolshed-grid-sprite-position
//
// generating sprite background-position
//
// Styleguide 1.1.12
@mixin toolshed-grid-sprite-position ($xGrid, $yGrid, $xOffset : 0, $yOffset : 0, $iconWidth : 20px, $iconHeight : 20px) {
	background-position: floor(-1 * $xGrid * ($xOffset + 0.5) + ($iconWidth / 2) ) floor(-1 * $yGrid * ($yOffset + 0.5) + ($iconHeight / 2));
}

// toolshed-font-icon
//
// Load a single webfont icon. This works best in :before
//
// Styleguide 1.1.13
@mixin toolshed-font-icon ($fontfamily, $content, $fontsize : 1em, $onlyContent: false) {
	@if ($onlyContent) {
	}
	@else {
		display:inline-block;
		font: normal normal #{$fontsize}/1 $fontfamily;
	}
	content: $content;
}

// -----------------------------------------------
// CALCULATIONS
// -----------------------------------------------

// toolshed-rem
//
// Convert pixels to rem
//
// Styleguide 1.1.14
@function toolshed-rem ($value-px, $base-px, $relative : 0) {
	@return #{($value-px / $base-px) + $relative}rem;
}

// toolshed-round
//
// round with precision of 3
//
// Styleguide 1.1.15
@function toolshed-round ($val) {
	@return round($val * 1000) / 1000;
}
