// Basic styleguide setup
// If you need to define new variables, adhere to this principle:
// CSSPROPERTY(-CSS-SUBPROPERTY)-[default|VARIABLENAME](-SUBVARIABLENAME)
// See http://compass-style.org/help/tutorials/best_practices/

// Switches
//
// Styleguide 2.2

$switch-develop:                    false !default; // show debugging styles
$switch-overlapping:                false !default; // container does not set width, but every __inner-element on its own
$switch-fluid:                      false !default; // if set to fluid, the container will not use breakpoints for its width

// Base canon
//
// Basic margins and padding, grid settings, responsive breakpoints, etc.
//
// Styleguide 2.3

$base-unit:                         8px !default; // this is also the base unit to calculate `rem` to

$margin-default:                    $base-unit !default;
$padding-default:                   $base-unit !default;

$borderradius-default:              2px !default;

$width-column:                      300px !default;
$spacing-column:                    20px !default;

$width-column-2:                    2 * $width-column + 1 * $spacing-column !default;
$width-column-3:                    3 * $width-column + 2 * $spacing-column !default;
$width-column-4:                    4 * $width-column + 3 * $spacing-column !default;

// Base canon > Assigning

$width-container-col-mobile:        $width-column + $spacing-column !default;
$width-container-col-tablet:        $width-column-2 + $spacing-column !default;
$width-container-col-tablet-landscape: $width-column-3 + $spacing-column !default;
$width-container-col-desktop:       $width-column-4 + $spacing-column !default;

$width-container-mobile:            $width-column !default;
$width-container-tablet:            $width-column-2 !default;
$width-container-tablet-landscape:  $width-column-3 !default;
$width-container-desktop:           $width-column-4 !default;

$width-screen-mobile:               $width-container-col-mobile !default;
$width-screen-tablet:               $width-container-col-tablet !default;
$width-screen-tablet-landscape:     $width-container-col-tablet-landscape !default;
$width-screen-desktop:              $width-container-col-desktop !default;

$media-responsive-mobile:                    "screen and (max-width: #{$width-screen-tablet - 1px})";
$media-responsive-tablet:                    "screen and (min-width: #{$width-screen-tablet}) and (max-width: #{$width-screen-tablet-landscape - 1px})";
$media-responsive-tablet-landscape:          "screen and (min-width: #{$width-screen-tablet-landscape}) and (max-width: #{$width-screen-desktop - 1px})";
$media-responsive-desktop:                   "screen and (min-width: #{$width-screen-desktop})";

$media-responsive-mobile--smaller:           "screen and (max-width: #{$width-screen-tablet - 1px})";
$media-responsive-tablet--smaller:           "screen and (max-width: #{$width-screen-tablet-landscape - 1px})";
$media-responsive-tablet-landscape--smaller: "screen and (max-width: #{$width-screen-desktop - 1px})";
$media-responsive-desktop--smaller:          "screen";

$media-responsive-mobile--bigger:            "screen";
$media-responsive-tablet--bigger:            "screen and (min-width: #{$width-screen-tablet})";
$media-responsive-tablet-landscape--bigger:  "screen and (min-width: #{$width-screen-tablet-landscape})";
$media-responsive-desktop--bigger:           "screen and (min-width: #{$width-screen-desktop})";

// Colors
//
// Absolute colors, as well as relative colors with RGBA
//
// Styleguide 2.4

$color-white:                       #ffffff !default;
$color-black:                       #000000 !default;
$color-grey:                        mix($color-white, $color-black, 50%) !default;
$color-grey-dark:                   mix($color-white, $color-black, 20%) !default;
$color-grey-light:                  mix($color-white, $color-black, 90%) !default;
$color-blue:                        #33b5e5 !default;
$color-blue-dark:                   darken($color-blue, 25%) !default;
$color-blue-light:                  lighten($color-blue, 15%) !default;
$color-purple:                      #AA66CC !default;
$color-purple-dark:                 darken($color-purple, 25%) !default;
$color-purple-light:                lighten($color-purple, 15%) !default;
$color-green:                       #99cc00 !default;
$color-green-dark:                  darken($color-green, 25%) !default;
$color-green-light:                 lighten($color-green, 15%) !default;
$color-yellow:                      #FFBB33 !default;
$color-yellow-dark:                 darken($color-yellow, 25%) !default;
$color-yellow-light:                lighten($color-yellow, 15%) !default;
$color-red:                         #FF4444 !default;
$color-red-dark:                    darken($color-red, 25%) !default;
$color-red-light:                   lighten($color-red, 15%) !default;

$color-lighter:                     rgba(255,255,255,0.25) !default;
$color-darker :                     rgba(0,0,0,0.25) !default;

// Colors > Assigning

$backgroundcolor-body:              $color-grey-light !default;
$color-body:                        $color-black !default;

$backgroundcolor-container:         $color-black !default;
$color-container:                   $color-white !default;

$backgroundcolor-banner:            $color-black !default;
$color-banner:                      $color-white !default;

$backgroundcolor-navigation:        $color-white !default;
$color-navigation:                  $color-black !default;

$backgroundcolor-main:              $color-white !default;
$color-main:                        $color-black !default;

$backgroundcolor-sidebar:           $color-grey !default;
$color-sidebar:                     $color-black !default;

$backgroundcolor-footer:            $color-black !default;
$color-footer:                      $color-white !default;

$color-link:                        $color-red-dark !default;
$color-link-hover:                  $color-red-light !default;

// Typography
//
// Font families, sizes, weights etc.
//
// Styleguide 2.5

$fontfamily-first-primary:          Helvetica !default;
$fontfamily-primary:                $fontfamily-first-primary, Arial, sans-serif !default;
$fontweight-primary:                $fontweight-normal !default;
$fontweight-primary-bold:           $fontweight-bold !default;
$fontweight-primary-light:          $fontweight-thin !default;

$fontfamily-first-secondary:        Garamond !default;
$fontfamily-secondary:              $fontfamily-first-secondary, serif !default;
$fontweight-secondary:              $fontweight-bold !default;
$fontweight-secondary-bold:         $fontweight-extrabold !default;
$fontweight-secondary-light:        $fontweight-normal !default;

$fontfamily-first-monospace:        "Courier New" !default;
$fontfamily-monospace:              $fontfamily-first-monospace, monospace !default;
$fontweight-monospace:              $fontweight-normal !default;
$fontweight-monospace-bold:         $fontweight-bold !default;
$fontweight-monospace-light:        $fontweight-thin !default;

$fontfamily-first-symbols:          "FontAwesome" !default; // http://fortawesome.github.io/Font-Awesome/
$fontfamily-symbols:                $fontfamily-first-symbols !default;
$fontweight-symbols:                $fontweight-normal !default;
$fontweight-symbols-bold:           $fontweight-bold !default;
$fontweight-symbols-light:          $fontweight-thin !default;

// Typography > Assigning

$fontfamily-default:                $fontfamily-primary !default;
$fontweight-default:                $fontweight-primary !default;
$fontweight-default-bold:           $fontweight-primary-bold !default;
$fontweight-default-light:          $fontweight-primary-light !default;
$fontsize-default:                  12px !default;
$lineheight-default:                $lineheight-base !default;
$fontstyle-default:                 normal !default;

$fontsize-big:                      round($fontsize-default * 1.15) !default;
$fontsize-bigger:                   round($fontsize-big * 1.5) !default;
$fontsize-biggest:                  round($fontsize-big * 2) !default;
$fontsize-small:                    round($fontsize-default * 0.9) !default;
$fontsize-smaller:                  round($fontsize-default * 0.8) !default;
$fontsize-smallest:                 round($fontsize-default * 0.75) !default;

$textshadow-default:                1px 1px 3px $color-darker !default;


// Misc
//
// Z-Indexes and transitions
//
// Styleguide 2.6

$zindex-headline:                   1 !default;
$zindex-popup:                      $zindex-headline + 1 !default;

$transitionduration-default:        0.25s !default;
$transitionduration-fast:           ($transitionduration-default / 2) !default;
$transitionduration-slow:           ($transitionduration-default * 2) !default;

$transitionfunction-default:        ease-in-out !default;

$transition-default:                all $transitionduration-default $transitionfunction-default !default;
$transition-fast:                   all $transitionduration-fast $transitionfunction-default !default;
$transition-slow:                   all $transitionduration-slow $transitionfunction-default !default;

