// Webfonts
//
// Styleguide 2.8

//@font-face {
//	font-family: $fontfamily-first-primary;
//	font-weight: $fontweight-primary;
//	font-style:  normal;
//	@include toolshed-webfont-src('../fonts/#{$fontfamily-first-primary}/#{$fontfamily-first-primary}','#{$fontfamily-first-primary}');
//}

//@font-face {
//	font-family: $fontfamily-first-primary;
//	font-weight: $fontweight-primary-bold;
//	font-style:  normal;
//	@include toolshed-webfont-src('../fonts/#{$fontfamily-first-primary}/#{$fontfamily-first-primary}-bold','#{$fontfamily-first-primary}');
//}

// ----

//@font-face {
//	font-family: $fontfamily-first-secondary;
//	font-weight: $fontweight-secondary;
//	font-style:  normal;
//	@include toolshed-webfont-src('../fonts/#{$fontfamily-first-secondary}/#{$fontfamily-first-secondary}','#{$fontfamily-first-secondary}');
//}

//@font-face {
//	font-family: $fontfamily-first-secondary;
//	font-weight: $fontweight-secondary-bold;
//	font-style:  normal;
//	@include toolshed-webfont-src('../fonts/#{$fontfamily-first-secondary}/#{$fontfamily-first-secondary}-bold','#{$fontfamily-first-secondary}');
//}

// ----

//@font-face {
//	font-family: $fontfamily-first-symbols;
//	font-weight: $fontweight-symbols;
//	font-style:  normal;
//	@include toolshed-webfont-src('../fonts/#{$fontfamily-first-symbols}/#{$fontfamily-first-symbols}','#{$fontfamily-first-symbols}');
//}
