// Styles for all media types
//
// Styleguide 4.1

// see http://css-tricks.com/html-vs-body-in-css/
html {
	font-size: $base-unit;
}
body {
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: $fontstyle-default $fontweight-default #{$fontsize-default}/#{$lineheight-default} $fontfamily-default;
	//font-size: $fontsize-default; // needed for IE 9-10 in case of rem
}
#container {
	margin: auto;
}
#banner {
	font: $fontstyle-default $fontweight-secondary #{$fontsize-biggest}/#{$lineheight-default} $fontfamily-secondary;
	//font-size: $fontsize-biggest; // needed for IE 9-10 in case of rem
	padding:1rem;
}
#navigation {
	padding:1rem;
	ul {
		@extend %toolshed-horizontal-list;
	}
}
#main {
	font:  $fontstyle-default $fontweight-default #{$fontsize-default}/#{$lineheight-default} $fontfamily-default;
	//font-size: $fontsize-default; // needed for IE 9-10 in case of rem
	padding:1rem;
	.columns__container {
		margin:0 calc(-1rem - #{floor($spacing-column/2)});
	}
}
#aside {
	font:  $fontstyle-default $fontweight-default #{$fontsize-default}/#{$lineheight-default} $fontfamily-default;
	//font-size: $fontsize-default; // needed for IE 9-10 in case of rem
	padding:1rem;
}
#footer {
	padding:1rem;
	ul {
		@extend %toolshed-horizontal-list;
	}
}
