# See https://help.github.com/articles/dealing-with-line-endings
# In case of problems: http://stackoverflow.com/questions/11383094/unstaged-changes-left-after-git-reset-hard

# Declare files that will always have LF line endings on checkout.
*.css text eol=lf